<div class="container-big-img">
  <div>
    <img src="assets/deco-l.png" alt="">
  </div>
  <div *ngIf='mainImg !== null'>
    <img class='img-center' [src]='getMainImgSrc()' />
  </div>
  <div>
      <img src="assets/deco-r.png" alt="">
    </div>
</div>

<div class='thumbnails'>
  <div class="container-slider" *ngIf='gallery?.length > 0'>
    <div class="arrow-left">
      <
    </div>
      <div *ngFor='let imgInfo of gallery' (click)="selectMainImg(imgInfo)">
          <img class='img-thumb' [src]="getThumbnailImgSrc(imgInfo)" />
      </div>
    <div class="arrow-right">
      >
    </div>
    <!-- <div class="">
      En cours / En processo>
    </div> -->
  </div>
</div>